<launch>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find scara_cpe_moveit)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- We have a robot connected (simulated in gazebo), so publish its joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="source_list">[/scara_cpe/joint_states]</rosparam>
  </node>

  <!-- Run the main MoveIt executable -->
  <include file="$(find scara_cpe_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <!-- Run Rviz -->
  <include file="$(find scara_cpe_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>